# Core project dependencies
yfinance
pandas
numpy
python-dotenv
alpaca-trade-api
requests
transformers
torch
sentencepiece

# Machine Learning & Advanced Analytics
scikit-learn
matplotlib
seaborn
ta-lib
plotly
joblib